*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: calc(100vh - 20px);
  background-color: rgb(155, 232, 255);
  padding: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  margin: 50px auto; 
  padding: 10px 30px 40px;
  border-radius: 15px;
}

.todo-app h2{  
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 15px;
}

.todo-app h2 img{
  width: 40px; 
  margin-left: 10px;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 15px;
  background-color:rgb(255, 224, 224);
  border-radius: 40px;
  
}

#input-box{
  flex: 1;
  background: transparent;
  border: none;
  outline: none; 
  padding: 15px;
  
}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  color: #fff;
  background-color: orangered;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

ul li{
  list-style: none;
  user-select: none;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 12px 15px 50px;
  position: relative;
}

ul li::before {
  content:'';
  position: absolute;
  background-image: url(images/unchecked.png);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-size:cover;
  background-position:center;
  top: 12px;
  left: 15px;
}

ul li.checked {
  text-decoration: line-through;
  color: #555;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

ul li span:hover{
  background: #edeef0;
}
